.header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding: 9px 0;
  position: fixed;
  width: 100%;
  background-color: var(--background-color--light);
  z-index: 1;
}

.header-wrapper {
  display: flex;
  margin: auto;
  max-width: var(--max-width-container--web);
}

.logo {
  font-size: 1.29rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo span {
  color: var(--c-brand);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.nav ul li {
  display: inline-block;
  margin: auto 39px;
}

.nav a {
  color: inherit;
  text-decoration: none;
}
