.hero__icon {
  font-size: 2.86rem;
  line-height: 5.14rem;
}

.hero__icon.wave {
  animation-name: waving-hand-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
  transform-origin: 70% 70%;
}

.hero__description {
  font-size: 1.5rem;
  line-height: 2.21rem;
  font-weight: var(--block-font-weight--light);
  max-width: 621px;
  margin-bottom: 30px;
}

.hero__description a {
  color: var(--color-current-work);
  text-decoration: none;
  font-weight: 700;
}

.hero__btn {
  margin-bottom: 40px;
}

@keyframes waving-hand-anim {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(15deg);
  }
  30% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  40% {
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    transform: rotate(14deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 767px) {
  .hero-wrapper {
    text-align: center;
  }

  .hero__title {
    font-size: 4.5rem;
    line-height: 4.64rem;
  }

  .hero__description {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
