@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

:root {
  /* Branding Information */
  --color-brand: #007aff;
  --color-brand--dark: #0084ff;

  --color-primary: #121217;
  --color-primary--light: rgba(0, 0, 0, 0.15);

  --color-secundary: white;

  --color-current-work: #fbd54a;
  --color-availability-true: #28cd41;

  /* General Information */
  --block-border-radius: 5px;
  --block-max-width--web: 1100px;

  --block-font-size: 14px;
  --block-font-weight--light: 300;
  --block-font-weight: 400;
  --block-font-weight--bold: 700;

  --page-color-background--light: var(--color-secundary);
  --page-color-background--dark: var(--color-primary);

  /* Buttons Information */
  --btn-color__text: var(--color-secundary);
  --btn-color__shadow: rgba(60, 9, 179, 0.2);
  --btn-border-radius: var(--block-border-radius);
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--block-font-size);
}

body * {
  box-sizing: border-box;
}

h1 {
  font-weight: var(--block-font-weight--bold);
  font-size: 5rem;
  line-height: 5.14rem;
  margin-bottom: 20px;
}

hr {
  border-top: 0;
  border-color: var(--color-primary--light);
}

.btn {
  color: var(--btn-color__text);
  background-color: var(--color-brand);
  padding: 8px 16px;
  border-radius: var(--block-border-radius);
  outline: none;
  border: none;
  text-decoration: none;
}

.section {
  display: flex;
  align-items: center;
  /* height: 100vh; */
  padding-top: 150px;
  padding-bottom: 150px;
  max-width: var(--block-max-width--web);
  margin: auto;
}

.link {
  color: var(--color-brand);
  text-decoration: none;
}
