.process-step {
  max-width: 521px;
  display: grid;
  grid-template: 40px 1fr / 40px 1fr;
  grid-template-areas:
    "process-step process-title"
    ". process-description";
  font-size: 1.14rem;
  grid-gap: 9px 15px;
  margin-bottom: 2.86rem;
  flex-grow: 0;
}

.process-step__number {
  grid-area: process-step;
  background-color: var(--color-primary);
  border-radius: var(--block-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secundary);
  font-size: 1.71rem;
  font-weight: var(--block-font-weight--bold);
}

.process-step__title {
  grid-area: process-title;
  font-weight: var(--block-font-weight--bold);
  font-size: 1.71rem;
  line-height: 2.21rem;
  display: flex;
  align-items: center;
}

.process-step__description {
  grid-area: process-description;
  font-size: 1.14rem;
  line-height: 1.64rem;
}

.process-step__description span {
  font-weight: var(--block-font-weight--bold);
  margin-right: 3px;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .process-step {
    max-width: 45%;
  }
}
