.profile-availability {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  position: relative;
  margin: 0;
  width: 60px;
  height: 60px;
}

.img-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.img-container img {
  width: 112px;
  position: relative;
  left: -29px;
  top: -2px;
}

.estimate-indicator {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--color-availability-true);
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(40, 205, 65, 0.15);
  position: absolute;
  right: -2px;
  bottom: 0;
  left: auto;
}

.profile-availability__description {
  margin-left: 15px;
}

.profile-availability__description span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .profile-availability {
    justify-content: flex-start;
  }
}
