.entry {
  clear: both;
  text-align: left;
  position: relative;
}

.entry__title {
  margin-bottom: 0.5em;
  float: inherit;
  width: auto;
  padding-right: 30px;
  position: relative;
  min-height: 40px;
  box-sizing: content-box;
}

.entry__title:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  border-radius: 100%;
  top: 60%;
  right: auto;
  left: 0px;
}

.entry__title h3 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.93rem;
  font-weight: var(--block-font-weight--bold);
}

.entry__title p {
  margin: 0;
  font-size: 1.14rem;
  font-weight: 300;
}

.entry__title * {
  display: none;
}

.entry__body {
  margin: -25px 0 15px;
  float: inherit;
  width: auto;
  padding-left: 30px; /* gutter */
  font-weight: var(--block-font-weight--light);
  font-size: 1.14rem;
  box-sizing: content-box;
}

.entry__body h4 {
  margin: 0;
  font-weight: var(--block-font-weight--bold);
}

.entry__body p {
  font-size: 1rem;
  line-height: 20px;
  margin: 0;
}

@media screen and (min-width: 800px) {
  .entry__title {
    float: left;
    width: 45%;
  }

  .entry__body {
    width: 50%;
    float: right;
  }

  .entry__title * {
    display: block;
  }

  .entry__title:before {
    left: auto;
    right: 42px;
  }
}
