.about-wrapper {
  max-width: 600px !important;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-bottom: 80px;
  padding-top: 125px;
}

.about-wrapper.animated {
  -webkit-animation-name: appearing-block-bottom-anim;
  -moz-animation-name: appearing-block-bottom-anim;
  -o-animation-name: appearing-block-bottom-anim;
  animation-name: appearing-block-bottom-anim;
}

.about-wrapper > .section-header {
  text-align: center;
}

.about-wrapper > .section-header .section-header__title {
  margin-bottom: 2.86rem;
}

.portrait img {
  width: 100%;
  margin-bottom: 45px;
}

.about-description {
  font-size: 1.14rem;
  margin-bottom: 15px;
  line-height: 1.4rem;
}

.toolset-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.toolset-wrapper .list-wrapper:nth-child(-n + 2) {
  border-top: 0;
  padding-top: 0;
}

.about-section {
  margin-top: 80px;
  width: 100%;
}

.about-section .sub-section-header {
  text-align: center;
}

@keyframes appearing-block-bottom-anim {
  from {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 530px) {
  .toolset-wrapper {
    text-align: left;
    justify-content: space-between;
  }

  .about-section .sub-section-header {
    text-align: left;
  }
}
