.process-steps-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .process-steps-wrapper {
    justify-content: space-between;
  }
}
