.header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding: 9px 16px;
  position: fixed;
  width: 100%;
  background-color: var(--page-color-background--light);
  z-index: 1;
  color: inherit;
  text-decoration: none;
}

.header-wrapper {
  display: flex;
  margin: auto;
  max-width: var(--block-max-width--web);
  justify-content: space-between;
}

.logo {
  font-size: 1.29rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.logo span {
  color: var(--color-brand);
}

.nav {
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  display: flex;
}

.nav ul {
  display: flex;
  justify-content: center;
}

.nav ul li {
  display: inline-block;
  background-image: var(--gradient-brand);
  background-position: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav ul li,
.nav ul li:hover {
  background-size: 200% 100%;
  transition: background-position 0.5s, background-size 0.5s;
}

.nav ul li:hover {
  background-position: 0;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

#contact-me-btn {
  /* display: none; */
  height: 30px;
}

#menu-icon {
  background: url("../../images/menu.svg") no-repeat;
  width: 24px;
  height: 24px;
  opacity: 0;
  margin: 9px 0px;
  display: none;
  -moz-animation: 1000ms;
  -o-animation: 1000ms;
  -webkit-animation: 1000ms;
  animation: 1000ms;
  animation-timing-function: steps(30);
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#menu-icon.play {
  -webkit-animation-name: show-menu;
  -moz-animation-name: show-menu;
  -o-animation-name: show-menu;
  animation-name: show-menu;
}

@-webkit-keyframes show-menu {
  0% {
    background-position: 0px 0px;
    opacity: 0;
  }
  100% {
    background-position: -720px 0px;
    opacity: 1;
  }
}

@-moz-keyframes show-menu {
  0% {
    background-position: 0px 0px;
    opacity: 0;
  }
  100% {
    background-position: -720px 0px;
    opacity: 1;
  }
}

@-o-keyframes show-menu {
  0% {
    background-position: 0px 0px;
    opacity: 0;
  }
  100% {
    background-position: -720px 0px;
    opacity: 1;
  }
}

@keyframes show-menu {
  0% {
    background-position: 0px 0px;
    opacity: 0;
  }
  100% {
    background-position: -720px 0px;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    justify-content: flex-start;
  }

  #menu-icon {
    display: none;
  }

  #contact-me-btn {
    display: block;
  }
}
